.profile__add-btn {
  width: 150px;
  min-height: 50px;
  background: url('../../../images/add_button.svg');
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 2px #fff;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__add-btn {
    width: 100%;
    background-position: center;
  }
}

@media screen and (max-width: 440px) {
  .profile__add-btn {
    background-size: 16px 16px;
  }
}
