@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

/* BODY */
@import url('../blocks/body/body.css');

/* CONTENT */
@import url('../blocks/content/content.css');

/* HEADER */
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');

/* PROFILE */
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__container/profile__container.css');
@import url('../blocks/profile/__title/profile__title.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__profession/profile__profession.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__avatar-overlay/profile__avatar-overlay.css');
@import url('../blocks/profile/__avatar-container/profile__avatar-container.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__add-btn/profile__add-btn.css');
@import url('../blocks/profile/__edit-btn/profile__edit-btn.css');

/* ELEMENTS */
@import url('../blocks/elements/elements.css');

/* ELEMENT */
@import url('../blocks/element/element.css');
@import url('../blocks/element/__image/element__image.css');
@import url('../blocks/element/__base/element__base.css');
@import url('../blocks/element/__like/element__like.css');
@import url('../blocks/element/__like-amount/element__like-amount.css');
@import url('../blocks/element/__like-container/element__like-container.css');
@import url('../blocks/element/__like_active/element__like_active.css');
@import url('../blocks/element/__title/element__title.css');
@import url('../blocks/element/__trash/element__trash.css');

/* FOOTER */
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__text/footer__text.css');

/* POPUP */
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/__body/popup__body.css');
@import url('../blocks/popup/__content/popup__content.css');
@import url('../blocks/popup/__content-image/popup__content-image.css');
@import url('../blocks/popup/popup-add-place.css');
@import url('../blocks/popup/popup-edit-profile.css');
@import url('../blocks/popup/popup-image.css');
@import url('../blocks/popup/__picture/popup__picture.css');
@import url('../blocks/popup/__close-btn/popup__close-btn.css');
@import url('../blocks/popup/__save-btn/popup__save-btn.css');
@import url('../blocks/popup/__btn-disabled/popup__btn-disabled.css');
@import url('../blocks/popup/__title/popup__title.css');
@import url('../blocks/popup/__text/popup__text.css');
@import url('../blocks/popup/__inputs/popup__inputs.css');
@import url('../blocks/popup/__input/popup__input.css');
@import url('../blocks/popup/__input/_invalid/popup__input_invalid.css');
@import url('../blocks/popup/__input/_type/popup__input_type_name.css');
@import url('../blocks/popup/__input/_type/popup__input_type_profession.css');
@import url('../blocks/popup/__input/_type/popup__input_type_link.css');
@import url('../blocks/popup/__input/_type/popup__input_type_title.css');
@import url('../blocks/popup/__divide-container/popup__divide-container.css');
@import url('../blocks/popup/__error/popup__error.css');
@import url('../blocks/popup/_opened/popup_opened.css');

/* TEMPLATE */
@import url('../blocks/template/template.css');
@import url('../blocks/template/__new-card/template__new-card.css');
