.popup__content-image {
  max-width: 75vw;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
