.header {
  max-width: 880px;
  min-height: 74px;
  margin: 45px auto 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 768px) {
  .header {
    min-height: 56px;
  }
}

@media screen and (max-width: 440px) {
  .header {
    margin: 28px auto 0;
  }
}
